# Folder dataset dan lingkungan virtual
usada/
venv/

# File ZIP dan model besar
usada.zip
*.h5
*.tflite

# Cache dan sampah Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode & system files (opsional tapi disarankan)
.vscode/
.DS_Store
